@{
    ViewData["Title"] = "Home Page";
}
@using System.Web;

@model List<Connection>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
<script src="~/js/socketHubConnection.js"></script>
<script>
    $(document).ready(function () {
        const socket = new WebSocket('ws://localhost:9005');

        socket.onmessage = function (evt) {
            console.log('Message received from server:', evt.data);
            if (evt.data.includes("CONNECT")) {
                onMessageReceived(evt.data.split(":")[1], '@Html.Raw(Model)')
            } else if (evt.data.includes("CLOSED")) {

            } else if (evt.data.includes("NOT_AVAILABLE")) {

            }
        };

        socket.addEventListener('open', (event) => {
            console.log('Socket connection established');
            socket.send('{"action":"CREATE_CONNECTION","PlatformId":"KAFKA", "appType":"MOBILE_APP"}');

        });

        socket.addEventListener('close', (event) => {
            console.log('Socket connection closed');
        });

        socket.addEventListener('error', (event) => {
            console.log('Socket error occurred:', event);
        });
        
        $("#qrCollapse").on('click', function(){

            $('.collapse').toggle()
        })
    });

</script>
<div class="text-center">
    <h1 class="display-4">Modules</h1>
    <div id="ModulesPartial">
        @await Html.PartialAsync("_Modules", Model)
    </div>
   
    
    <a id="qrCollapse" class="btn btn-primary" data-toggle="collapse" href="#qrcode_collapse" role="button" aria-expanded="false" aria-controls="qrcode_collapse">
        Pair Application
    </a>
    <div class="collapse" id="qrcode_collapse" style="max-width:200px">
        
        <div class="card card-body">
            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(@ViewBag.QrCodeUri))"  />
        </div>
    </div>
    <div class="form-group">
        
    </div>
</div>
