.InlineModulesDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height:60%;
    border:2px solid red;
}
.ModulesCard{
    flex: 1 1 30%; /* Set flexible width to 30% of the container */
    min-width: 200px; /* Set minimum width of 200px */
    min-height:70%;
    margin: 20px;
    background-color: var(--color1);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color2);
    padding:25px;
}
.Disabled{
    background-color: var(--color2);
}