.patient-request {
    margin: 25px;
    max-height: 25vh;
    width: '100%';
    overflow-y: 'auto';
     
}
.list-entry {
    list-style:none; 
    padding: 0;
    border-radius: 25px;
    border:2px solid grey;
}
.patient-requests-container {
    min-height: 50%;
}

.patient-requests-list ul{
    border:2px solid lightblue;
}
.patient-requests-list ul p{
    font-size: small;
    margin: 0%;
}