
  .container {
    justify-content: center; /* Center the content horizontally */
    align-items: flex-start; /* Align items to the top within the container */
  }
  
  .content-container {
    display: flex;
    width: 100%;
    justify-content: space-between; /* Space out the two components */
  }
  .two-thirds {
    flex: 2;
    width: 60%;
  }

  .requests {
    flex: 1;
    width: 10%
  }