.therapist-profile {
  background-color: var(--mint-cream);
  max-width: 50%;
  min-width: 40%;
  padding: 20px;
  border-radius: 10px;
  display: flex; /* Add flex display */
  align-items: center; /* Center vertically */
  text-align: left; /* Align text to the left */
}

.profile-picture {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  border-radius: 50%; /* Make it circular */
  background-color: #ccc; /* Grey background color */
  margin-right: 20px; /* Margin for spacing */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-picture img {
  width: 100%; /* Ensure the image fills the circular div */
  height: 100%; /* Ensure the image fills the circular div */
  object-fit: cover; /* Maintain aspect ratio and cover the circle */
}
.therapist-profile h2 {
  color: var(--rich-black);
}
