:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  height:auto;
  background-color: aliceblue;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --background: #f2f2f2;
  --highlight: #f1e4f3;
  --color1: #03b5aa;
  --color2: #35605a;
  --color3: #00120b;
}

body {
  background-color: var(--mint-cream);
  margin:0;
  padding:0;
  display: block;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
}


.DevInput{
  padding:10px;
  
}
.DevInput input {
  margin:2px
}
.DevInput button {
  margin:2px
}
.DevInput p {
  display: inline-block;
  margin:2px;
  float:right;
}

