
  .container {
    justify-content: center; /* Center the content horizontally */
    align-items: flex-start; /* Align items to the top within the container */
  }
  
  .content-container {
    width: 100%;
    justify-content: space-between; 
    padding: 2%;
    
  }
  .content-container-sections {
    display: flex;
    width: 100%;
    justify-content: space-between; 
  }
  .requests {
    flex: 1;
    width: 10%
  }
  .tab-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* Adjust the height as needed */
    background-color: var(--color1);
  }
  
  .buttons-container {
    display: flex;
  }
  
  button {
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Button text color */
    padding: 10px 20px; /* Button padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button.active {
    background-color: #0056b3; /* Active button background color */
  }
  button.disabled {
    background-color: lightgray;
  }